In [2]:
#zad1

class Osoba:
  def __init__(self, imie, nazwisko, wiek, miasto):
    self.imie = imie
    self.nazwisko = nazwisko
    self.wiek = wiek
    self.miasto = miasto
    
  def __str__(self):
    return f"{self.imie} {self.nazwisko} {self.wiek}, {self.miasto}"
  
  def __repr__(self):
    return f"{self.imie} {self.nazwisko} {self.wiek}, {self.miasto} \n"
    
    
    
lista = [Osoba("Ola", "Kowalska", 5, "Gdynia"),
Osoba("Ela", "Śmigalska", 34, "Lublin"),
Osoba("Michał", "Kowalski", 23, "Gdynia"),
Osoba("Paweł", "Tokarski", 31, "Poznań"),
Osoba("Michał", "Makowski", 25, "Gdynia"),
Osoba("Ela", "Tkaczyk", 28, "Poznań"),
Osoba("Paweł", "Mirecki", 34, "Lublin"),
Osoba("Paweł", "Dobrocki", 14, "Gdynia"),
Osoba("Weronika","Kowalewska",19,"Toruń")]

print(lista)
print(lista[3])
print("starsi >20")
print(list(filter(lambda n:n.wiek>20,lista)))
print("mlodsi <20")
print(list(filter(lambda n:n.wiek<20,lista)))

[Ola Kowalska 5, Gdynia
, Ela Śmigalska 34, Lublin
, Michał Kowalski 23, Gdynia
, Paweł Tokarski 31, Poznań
, Michał Makowski 25, Gdynia
, Ela Tkaczyk 28, Poznań
, Paweł Mirecki 34, Lublin
, Paweł Dobrocki 14, Gdynia
, Weronika Kowalewska 19, Toruń
]
Paweł Tokarski 31, Poznań
starsi >20
[Ela Śmigalska 34, Lublin
, Michał Kowalski 23, Gdynia
, Paweł Tokarski 31, Poznań
, Michał Makowski 25, Gdynia
, Ela Tkaczyk 28, Poznań
, Paweł Mirecki 34, Lublin
]
mlodsi <20
[Ola Kowalska 5, Gdynia
, Paweł Dobrocki 14, Gdynia
, Weronika Kowalewska 19, Toruń
]

In [9]:
#zad 1.1

def zGdyni(lista):
    return list(filter(lambda n:n.miasto == "Gdynia",lista))

print(zGdyni(lista))

[Kowalska, Kowalski, Makowski, Dobrocki]

In [11]:
#zad 1.2

def sortedOlderThan25(lista):
    lista.sort(key=lambda x: x.nazwisko, reverse=False)
    return list(filter(lambda n:n.wiek > 25,lista))

print(sortedOlderThan25(lista))

[Mirecki, Tkaczyk, Tokarski, Śmigalska]

In [25]:
#zad 1.3

def sortedByAge(lista):
    lista.sort(key=lambda x: x.wiek, reverse=False)
    return list(filter(lambda n:len(n.imie) > 3,lista))

print(sortedByAge(lista))

[Paweł Dobrocki 14, Gdynia
, Weronika Kowalewska 19, Toruń
, Michał Kowalski 23, Gdynia
, Michał Makowski 25, Gdynia
, Paweł Tokarski 31, Poznań
, Paweł Mirecki 34, Lublin
]

In [28]:
#zad 1.4

import functools as fun

def avgPoznan(lista):
    pomocnicza = list(filter(lambda n:n.miasto == "Poznań",lista))
    return fun.reduce(lambda a,b: a+b.wiek, pomocnicza, 0)/len(pomocnicza)

print(avgPoznan(lista))

29.5

In [32]:
#zad 1.5

import functools as fun
from itertools import groupby

def grouped(lista):
    return list(map(lambda x: (x[0], len(list(x[1]))), groupby(sorted(lista,key=lambda x:x.miasto), lambda x:x.miasto )))

print(grouped(lista))

[('Gdynia', 4), ('Lublin', 2), ('Poznań', 2), ('Toruń', 1)]

In [34]:
#zad 1.6

import functools as fun
from itertools import groupby

def groupedImiona(lista):
    return list(
        map(lambda x: (x[0], len(list(x[1]))), groupby(sorted(lista,key=lambda x:x.imie), lambda x:x.imie )))

print(groupedImiona(lista))

[('Ela', 2), ('Michał', 2), ('Ola', 1), ('Paweł', 3), ('Weronika', 1)]

In [35]:
#zad 1.7

def startsWithE(lista):
    return list(list(filter(lambda n:n.imie[0] == "E",lista)))

print(startsWithE(lista))

[Ela Tkaczyk 28, Poznań
, Ela Śmigalska 34, Lublin
]

In [38]:
#zad 1.8

def containsLA(lista):
    return list(list(filter(lambda n: "al" in n.nazwisko,lista)))

print(containsLA(lista))

[Ola Kowalska 5, Gdynia
, Weronika Kowalewska 19, Toruń
, Michał Kowalski 23, Gdynia
, Ela Śmigalska 34, Lublin
]

In [16]:
#zad 1.9

def citySet(lista):
    result = list(set(map(lambda n: n.miasto, lista)))
    result.sort()
    return result
    

print(citySet(lista))

['Gdynia', 'Lublin', 'Poznań', 'Toruń']

In [3]:
#zad 1.10

import functools as fun

def oldest(lista):
    return (fun.reduce(lambda a,b:a if a.wiek>b.wiek else b,lista)).wiek
    

print(oldest(lista))

34