In [29]:
#zad2

import Osoba

def getPeopleList():
    f = open('data.data', 'r')
    lines = f.readlines()
    valuesList = map(lambda line: line.strip().split(', '), filter(lambda line: line.strip(), lines))
    peopleList = list(map(lambda values: Osoba.Osoba(values), valuesList))
    f.close()
    return peopleList

peopleList = getPeopleList()
print(len(peopleList))

32561

2.1. Lista kobiet pochodzących z Meksyku z wykształceniem HS-grad.

In [31]:
def mexicoWomanHs(lista):
    return list(filter(lambda o:o.plec == "Female" and o.kraj == "Mexico" and o.wyksztalcenie == "HS-grad",lista))

len(mexicoWomanHs(peopleList))
print(mexicoWomanHs(peopleList))

[{23, Mexico, HS-grad...}, {31, Mexico, HS-grad...}, {32, Mexico, HS-grad...}, {53, Mexico, HS-grad...}, {29, Mexico, HS-grad...}, {40, Mexico, HS-grad...}, {28, Mexico, HS-grad...}, {20, Mexico, HS-grad...}, {26, Mexico, HS-grad...}, {20, Mexico, HS-grad...}, {25, Mexico, HS-grad...}, {56, Mexico, HS-grad...}, {24, Mexico, HS-grad...}, {20, Mexico, HS-grad...}, {29, Mexico, HS-grad...}, {25, Mexico, HS-grad...}, {20, Mexico, HS-grad...}, {22, Mexico, HS-grad...}, {31, Mexico, HS-grad...}, {30, Mexico, HS-grad...}, {26, Mexico, HS-grad...}, {26, Mexico, HS-grad...}, {27, Mexico, HS-grad...}, {31, Mexico, HS-grad...}, {25, Mexico, HS-grad...}, {34, Mexico, HS-grad...}, {24, Mexico, HS-grad...}, {37, Mexico, HS-grad...}, {41, Mexico, HS-grad...}, {22, Mexico, HS-grad...}, {51, Mexico, HS-grad...}, {20, Mexico, HS-grad...}, {28, Mexico, HS-grad...}, {22, Mexico, HS-grad...}, {28, Mexico, HS-grad...}, {33, Mexico, HS-grad...}, {24, Mexico, HS-grad...}]

2.2. Liczba osób, które wzięły udział w spisie z podziałem na kobiety i mężczyzn.

In [34]:
from itertools import groupby

def byGenders(lista):
    return list(map(lambda x: (x[0], len(list(x[1]))), groupby(sorted(lista,key=lambda x:x.plec), lambda n:n.plec)))

print(byGenders(peopleList))

[('Female', 10771), ('Male', 21790)]


2.3. Średni wiek osób Never-married o formie zatrudnienia Private.

In [41]:
import functools as fun
from itertools import groupby

def avgAgeNeverMarriedPrivate(lista):
    helper = list(filter(lambda n:n.stanCywilny == "Never-married" and n.formaZatrudnienia == "Private", lista))
    print("Never-married privately employed count: ", len(helper))
    return fun.reduce(lambda a,b:a + b.wiek, helper, 0)/len(helper)


print(avgAgeNeverMarriedPrivate(peopleList))

Never-married privately employed count:  8186
27.64769118006352

2.4. Liczba osób o wykształceniu liczbowo od 9 do 13 pracujących od 20 do 30 godzin
tygodniowo pogrupowana według form zatrudnienia.

In [43]:
import functools as fun
from itertools import groupby

def fun24(lista):
    helper = list(filter(lambda n:n.wyksztalcenieLiczbowo >= 9 and n.wyksztalcenieLiczbowo <= 13 and n.godzinyTygodniowo >= 20 and n.godzinyTygodniowo <= 30, lista))
    return list(map(lambda x: (x[0], len(list(x[1]))), groupby(sorted(helper,key=lambda x:x.formaZatrudnienia), lambda n:n.formaZatrudnienia)))

print(fun24(peopleList))

[('?', 321), ('Federal-gov', 28), ('Local-gov', 106), ('Private', 1871), ('Self-emp-inc', 48), ('Self-emp-not-inc', 223), ('State-gov', 87), ('Without-pay', 5)]

2.5. Liczby osób z USA z takim samym wykształceniem

In [48]:
import functools as fun
from itertools import groupby

def fun25(lista):
    helper = list(filter(lambda n:n.kraj == "United-States", lista))
    return list(map(lambda x: (x[0], len(list(x[1]))), groupby(sorted(helper,key=lambda x:x.wyksztalcenie), lambda n:n.wyksztalcenie)))

print(fun25(peopleList))

[('10th', 848), ('11th', 1067), ('12th', 365), ('1st-4th', 46), ('5th-6th', 97), ('7th-8th', 499), ('9th', 395), ('Assoc-acdm', 982), ('Assoc-voc', 1289), ('Bachelors', 4766), ('Doctorate', 328), ('HS-grad', 9702), ('Masters', 1527), ('Preschool', 17), ('Prof-school', 502), ('Some-college', 6740)]

2.6. Średnie liczby godzin przepracowywanych w tygodniu przez osoby ze stopniem
Bachelors dla każdej z form zatrudnienia.

In [64]:
import functools as fun
from itertools import groupby

def fun26(lista):
    helper = list(filter(lambda n: n.wyksztalcenie == "Bachelors", lista))
    return list(map(lambda x: (x[0], fun.reduce(lambda a, b: a + b.godzinyTygodniowo, x[1], 0) / len(list(x[1]))), 
                    groupby(sorted(helper, key=lambda x: x.formaZatrudnienia), lambda n: n.formaZatrudnienia)))

print(fun26(peopleList))

ZeroDivisionError: division by zero

2.7. Minimalny i maksymalny wiek osób pracujących w różnych grupach zawodowych.

2.8. Lista mężczyzn pochodzących z Kuby lub Jamajki z wykształceniem HS-grad.

2.9. Liczba osób rozwiedzionych w wieku poniżej 30 lat z USA.

2.10. Liczby osób, które wzięły udział w spisie dla każdego poziomu wykształcenia.